
.booking-container {
    display: block;
    height: 90%;
    overflow: auto;
    .cancel-button {
        border: none;
        z-index: 4;
        box-shadow: none;
        font-weight: 600;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        background-color: #f3f4f7;
        background-image: linear-gradient(315deg, #f3f4f7 0%, #caccd1 74%);
        color: black;
        padding: 10px;
        font-size: 18px;
        position: sticky;
        bottom: 0px;
      }
      .book-button {
        border: none;
        z-index: 4;
        box-shadow: none;
        font-weight: 600;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        background-color: #000000;
        background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
        color: white;
        padding: 10px;
        font-size: 18px;
      }
      .book-button.disabled{
        opacity: 0.6;
      }
      .stepper-custom-container .MuiPaper-root.MuiStepper-root.MuiStepper-horizontal.MuiStepper-alternativeLabel.MuiPaper-elevation0{
        padding: 10px;
        position: sticky;
        top: 0;
        z-index: 4;
    
      }
      .stepper-custom-container .MuiStepIcon-root.MuiStepIcon-active,.MuiStepIcon-root.MuiStepIcon-completed{
        color: black;
      }
      .stepper-custom-container .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary{
        background-color: black;
      }
      .stepper-custom-container .TimePicker-header-604{
        background: black;
      }
      .stepper-custom-container .booking-stepper-label{
        font-size: 12px;
      }
}